* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem;
}
.container1 {
  display: flex;
  align-items: center;
}

.container2 {
  display: flex;
  justify-content: center;
}

.container2 ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.container2 ul li {
  margin: 0rem 2rem;
  display: flex;
  align-items: center;
}

.container3 ul {
  display: flex;
  list-style: none;
}
.container3 ul li {
  margin: 0rem 1.5rem;
  display: flex;
  align-items: center;
}
.container3 ul li button {
  padding: 0.7rem 1.7rem;
  font-size: 1rem;
  border-radius: 0;
  background-color: #0e664c;
  color: #d9fff4;
  border: 0px;
}

main {
  margin-top: 5rem;
  display: flex;
}
.container4 {
  width: 30%;
  margin: 0rem 10rem;
}

.container4 h1 {
  font-size: 3.5rem;
  line-height: 0.95;
  margin-bottom: 1.2rem;
}

.container4 p {
  width: 90%;
  font-weight: 300;
  margin-bottom: 1.2rem;
}
.container4 button {
  padding: 0.8rem 2rem;
  border: 0px;
  border-radius: 0px;
  background-color: #0e664c;
  color: #d9fff4;
  font-size: 1rem;
  margin-bottom: 6rem;
}
.container4 ul {
  list-style: none;
  display: flex;
}
.container4 ul li {
  margin: 0.5rem 0.7rem;
}
.container4 h3 {
  font-size: 6rem;
  font-weight: 100;
  position: absolute;
  top: 8rem;
  left: 37rem;
  font-family: poppins;
}

.section1 {
  margin-top: 5rem;
}
.section1 h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.8rem;
}
.section1 p {
  text-align: center;
  width: 50%;
  margin: auto;
  font-family: poppins;
}
.comp {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.comp-items {
  text-align: center;
  width: 20rem;
  padding: 1.5rem 0rem;
  border: 1px solid rgb(190, 190, 190);
}
.comp-items h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.comp-items p {
  margin-bottom: 2rem;
  width: 80%;
}
.comp-items:first-child p {
  margin-bottom: 3.8rem;
}
.comp-items a {
  color: black;
}

.section2 {
  margin-top: 5rem;
  display: flex;
}

.container5 {
  width: 50%;

  padding: 2rem 2rem;
}
.container5 h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.container5 p {
  font-family: poppins;
}
.container5:first-child p {
  margin-bottom: 1rem;
}

.container5 button {
  padding: 0.7rem 1.7rem;
  font-size: 1rem;
  border-radius: 0;
  background-color: #0e664c;
  color: #d9fff4;
  border: 0px;
  margin-top: 2rem;
}

.container6 {
  display: flex;
  margin-left: 7rem;
  width: 50%;
}
.data-items {
  border: 2px solid black;
  width: 80%;
  text-align: center;
  padding: 2rem 0rem;
  border-radius: 5px;
}
.data-flex1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0rem;
  align-items: center;
}
.data-flex2 {
  display: flex;
  align-items: center;
}
.data2 h2 {
  font-size: 2rem;
}
.data2 h3 {
  margin-bottom: 1rem;
}
.data3 h3 {
  margin-bottom: 1rem;
}
.g {
  color: #70dc6a;
}
.r {
  color: red;
}
.data1 {
  text-align: left;
  padding-left: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.data1 img {
  width: 5rem;
}

.section3 {
  margin-top: 5rem;
}
.section3-heading {
  margin-bottom: 2rem;
}
.section3-heading h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.section3-heading p {
  text-align: center;
  font-family: poppins;
}
.products {
  display: flex;
  justify-content: space-evenly;
  padding: 0rem 2rem;
}
.product1,
.product2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product1-content,
.product2-content {
  /* width: 50%; */
  padding: 0rem 2rem;
  margin: auto;
}

.product1-content h3,
.product2-content h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.product1-content p,
.product2-content p {
  width: 70%;
  margin-bottom: 2rem;
  font-family: poppins;
}
.product1 img,
.product2 img {
  width: 15rem;
}
.products button {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 0;
  background-color: #0e664c;
  color: #d9fff4;
  border: 0px;
}

.section4 {
  margin-top: 5rem;
  text-align: center;
}
.section4 button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 0;
  background-color: #0e664c;
  color: #d9fff4;
  border: 0px;
}

.section5 {
  border: 2px solid black;
  margin-top: 5rem;
}
.section5 h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.content {
  display: flex;
  justify-content: space-around;
}
